---
---
@import "{{ site.theme }}";

body {
  font-size: 18px;
}

header h1 {
  font-size: 60px;
  width: 640px;
}

header h2 {
  width: 640px;
}

#main-content {
  width: 750px;
}

aside#sidebar {
  width: 150px;
}
